.ContentView {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1.25rem;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  font-family: ui-sans-serif, system-ui, sans-serif;
  user-select: none;
  line-height: 1em;
  max-height: 100dvh;
}

.DisplayRules {
  display: block;
  border: 2px solid blue;
}

.HiddenRules {
  display: none;
}
