.DeleteAllRules {
  &:hover {
    cursor: pointer;
  }
}

.Dashboard {
  .RuleCardContainer {
    width: 100%;
  }
  @media screen and (min-width: 500px) {
    .RuleCardContainer {
      width: 50%;
    }
  }
}

.RedirecRulesContainer {
  background-color: #a288e3;
}

.TabsContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
