.DeleteAllRules {
  &:hover {
    cursor: pointer;
  }
}

.Dashboard {
  // height: 100dvh;
}

.RedirecRulesContainer {
  background-color: #a288e3;
}

.TabsContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
