name: Playwright Tests
on:
  push:
    branches: [main, master, testing/playwright, user-scripts]
  pull_request:
    branches: [main, master, testing/playwright, user-scripts]
jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Build extension
        run: npm run build
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Start test server
        run: npm run dev &
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
